:root{
    --main-bg-purpledark: #170312;
    --main-bg-blue: #2970EF;
    --main-bg-greenish: #f3f8f2;
    
    --med-bg-babyBlue: #9FCEFF;
    
    --pt-white: #fff;
    --pat-black: #000;

}
*{
margin: none;
    padding: 0;
    box-sizing: border-box;
}li{
    list-style: none;
}
@media only screen and (max-width:768px){
    body{
        background-color: var(--main-bg-greenish);
    }
    .logo > img{
        width: 65px;
    }
    #bg{
        width: 100%;
            height: 1000px;
    }
    .ctnt{
        flex-wrap: wrap;
            padding: none;
    }
    .transition{
        padding-top: 80px;
    }
    #bonfa{
        padding-left: 80px;
        padding-top: 40px;
    }
    .nav-navbar{
        position:absolute;
        right: 0;
        height: 80vh;
        top: 20vh;
        background-color: var(--main-bg-greenish);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .g-content{
        flex-direction: column;
        width: 400px;
        height: auto;
        justify-items: center;
    }
}
@media only screen and (max-width:1024px){
    .nav-navbar{
        width: 20%;
    }
}
@media (max-width: 991px) {
    .navbar-scroll {
      background-color: var(--main-bg-greenish)
    }
       
    .navbar-scroll .navbar-brand,
    .navbar-scroll .nav-link,
    .navbar-scroll .fa-bars {
      color: var(--main-bg-purpledark) !important;
    }         
  }
  

  
  .navbar-brand {
   height: 80px; 
  }
  .navbar-scroll .navbar-brand,
  .navbar-scroll .nav-link,
  .navbar-scroll .fa-bars {
    color: var(--main-bg-purpledark);
  }
  
  .navbar-scroll {
    background-color: var(--main-bg-greenish)
  }
  
  .navbar-scrolled {
    box-shadow: #2970EF;
  }
  
  .navbar-scrolled .navbar-brand,
  .navbar-scrolled .nav-link,
  .navbar-scrolled .fa-bars {
    color: #4f4f4f;
  }
  
  .navbar-scrolled {
    background-color: #fff;
  }

  .nav-link{
      font-size: 1em;
      font-weight: 500;
      font-family: 'poppins';
  }




.txt1{
    font-weight: 600;
    font-family: 'poppins';
    color: var(--pat-black);
    background-color: var(--main-bg-greenish);
    font-size: 4em;
} 
#txt2{
    font-family: 'poppins';
    font-size: 2.2rem;  
    color: var(--pat-black);
    background-color: var(--main-bg-greenish);
    font-weight: 400;
}  
.lg{
    height: 100%;
    padding: 30px;
    padding-left: 20px; 
} 
.anchor{
    height: 90px;
    width: 190px;
    font-size: 1.5rem;
    font-weight: 300;
    font-family: 'poppins';
    font-style: italic;
    background-color: var(--med-bg-babyBlue);
    border-radius: 20px;
    border-style: none;
    margin-top: 20px;
    margin-left: 100px;
}


.transition{
    background-color: #2970EF;
    width: 100%;
    padding: 30px;
}
#f1{
    padding-top: 20px;
    width: 100%;
}
.poly{
    margin: 20px;
    transform: scale(1.5);
    transition: transform .2s;
}
.title-trans{
    font-size: 2.5em;
    font-family: 'poppins';
    font-weight: 200;
    color: var(--pt-white)
} 
.txt-trans{
    font-size: 1.5em;
    font-family: 'poppins';
    font-weight: 400;
    color:var(--pt-white);
    margin-top: 20px;
    text-align: justify;
}

.vtg{
    overflow: hidden;
    width: 100%;
    padding: 30px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title{
    margin: 10px;
    font-size: 4em;
    font-family: 'roboto';
    font-weight: 700;
    color: var(--main-bg-purpledark);
}
.subtitle{
    font-size: 1.5em;
    font-family: 'roboto';
    font-weight: 500;
    color: var(--main-bg-purpledark);
}
.grid{
    display: flex;
    padding-top: 40px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-items: center;
}
.g-content{
    flex-direction: row;
    width: 400px;
    height: auto;
}
.c-title{
    font-size: 2em;
    font-family: 'roboto';
    font-weight: 500;
    font-style: italic;
    color: var(--main-bg-purpledark);
}
.c-txt{
    font-size: 1em;
    font-family: 'roboto';
    font-weight: 300;
    color: var(--main-bg-purpledark);
}

.t-monials{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--med-bg-babyBlue);
}
#txt-testmonials{
    font-size: 4em;
    font-family: 'poppins';
    font-weight: 600;
    color: var(--main-bg-purpledark);
    padding: 30px;
}


.quoteLoop {
    display: flex;
    justify-content: center;
    height: auto;
    width: 100%;
    position: relative;
    margin: 30px;
  }
  .quote {
    margin:  30px;
    height: auto;
    width: 100%;
    top: 0px;
    display: none;
    font-family: 'roboto';
    font-weight: 300;
    font-size: 1.5em;
    color: var(--main-bg-purpledark);
  }
  .text-muted{
      font-size: 0.7em ;
  }
  .invite{
      display: flex;
      justify-content: center;
      height: auto;
      width: 100%;
      align-items: center;
      background-color: var(--main-bg-blue);
  }
  #inv{
      margin-top: 50px;
      font-size: 3.7em;
      font-family: 'poppins';
      font-weight: 600;
      font-style: italic;
      line-height: 96px;
      color: var(--pt-white);
}
footer{
    background-color: var(--main-bg-greenish);
    font-family: 'poppins';
}